body{
    background-image:linear-gradient(to right,#F093FF, #FDF1FF);
}
h1{
    font-family: 'Galada';font-size: 60px;
    color: background-image:linear-gradient(to bottom, mediumpurple, skyblue,turquoise);
    text-align:center;
}
h3{
    font-family:'Quintessential';font-size: 22px;
    text-align: center;
}
